@import "tailwindcss";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@plugin "../../hero.ts";


:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #3b82f6;
  --secondary: #a855f7;
  color-scheme: light;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1400px;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}