@import "tailwindcss";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@plugin "../../hero.ts";


:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #3b82f6;
  --secondary: #a855f7;
  color-scheme: light;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 800px;
}